<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Edit Customer</h2>
    <form action="/create" method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>code</td>
                <td>name</td>
                <td>salary</td>
                <td>age</td>
                <td>branch</td>

            </tr>
            <tr th:object="${em}">
                <td>
                    <input th:field="*{code}">
                    <span style="color: red" th:if="${#fields.hasErrors('code')}"
                          th:errors="*{code}"></span>
                </td>
                <td>
                    <input th:field="*{name}">
                    <span style="color: red" th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </td>
                <td>
                    <input th:field="*{salary}">
                    <span style="color: red" th:if="${#fields.hasErrors('salary')}"
                          th:errors="*{salary}"></span>
                </td>
                <td>
                    <input th:field="*{age}">
                    <span style="color: red" th:if="${#fields.hasErrors('age')}"
                          th:errors="*{age}"></span>
                </td>


                <td><select th:field="*{branch}">
                    <option th:each="branch :${branchList}" th:value="${branch.id}" th:text="${branch.name}"></option>
                </select></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Create Customer</button>

    </form>
</div>
</body>
</html>
